p {
  font-family: 'Poppins_Regular';
  font-size: 15px;
}

// @media screen and (min-height : 600px) and (max-height : 700px) {
//   p{
//       color: blue;
//   }
// }

// @media screen and (min-height : 320px) and (max-height : 500px) {
//   p {
//       color: green;
//   }
// }

// @media screen and (min-height : 320px) {
//   p {
//       color: green;
//   }
// }

ion-badge {
  position: absolute;
    --background: red;
    border-radius: 50%;
    --padding-start: 6px;
    --padding-end: 6px;
    bottom: 20px;
}