<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button>
                <img src="../../assets/icon/menu.svg" alt="">
            </ion-menu-button>
        </ion-buttons>
        <ion-title> Trips </ion-title>
        <ion-buttons slot="end">
            <img src="../../assets/icon/back.svg" alt="" (click)="this.common.navCtrl.back()">
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-header class="ion-no-border">
    <ion-searchbar type="number" placeholder="search by load number" [formControl]="searchControl" (ionInput)="searchInput($event)"></ion-searchbar>
</ion-header>

<ion-content>

    <div *ngIf="searching">
        <ion-spinner></ion-spinner>
      </div>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div *ngIf="this.allTrips?.length === 0">
        <!-- style="background-color: #9e9e9e4f;
        margin: 10px;
        border-radius: 7px;" -->
        <div class="ion-padding custom-skeleton" *ngFor="let s of skeleton;">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            <ion-skeleton-text animated></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </div>
    </div>

    <div style="display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 7px;
    box-shadow: 1px 1px 5px 1px lightgrey;
    border-radius: 7px;" (click)="gotoPage('/trip-detail', t)" *ngFor="let t of allTrips" class="animate__animated animate__fadeIn">
        <div>
            <p style="margin: 0px 0px 7px 0px;
            color: #570fef; font-family: 'Poppins_Regular';"> {{ t?.SystemLoadNumber }} </p>
            <div style="font-size: 15px;
            margin-bottom: 7px;
            display: flex; align-items: baseline;">
                <p style="margin: 0px 5px 0px 0px; font-family: 'Poppins_Regular';">From: </p>
                <span style="font-size: 12px;
                margin-right: 7px; font-family: 'Poppins_Regular'; color: #4F4F4F;"> {{ t?.PickUpAddress }} </span>

                <p style="margin: 0px 5px 0px 0px; font-family: 'Poppins_Regular';">To: </p>
                <span style="font-size: 12px;
                margin-right: 7px; font-family: 'Poppins_Regular'; color: #4F4F4F;"> {{ t?.DropOffAddress }} </span>
            </div>

            <div style="display: flex; align-items: center; justify-content: space-between;">
                <div style="display: flex;
                align-items: center;">
<ion-icon name="calendar-outline" style="color: #570fef;
margin-right: 5px;"></ion-icon>
                    <!-- <img src="../../assets/icon/date.png" alt="" style="margin-right: 7px;"> -->
                    <span style="font-size: 13px; font-family: 'Poppins_Regular'; color: #4F4F4F;"> {{ t?.PickUpDate | date }} </span>
                </div>

                <div style="display: flex;
                align-items: center;">
<ion-icon name="time-outline" style="color: #570fef;
margin-right: 5px;"></ion-icon>
                    <!-- <img src="../../assets/icon/clock-clr.png" alt="" style="margin-right: 7px;"> -->
                    <span style="font-size: 13px; font-family: 'Poppins_Regular'; color: #4F4F4F;"> {{ t?.PickUpDate | date:'shortTime' }} </span>
                </div>
            </div>

        </div>

        <div style="display: flex; width: 80px;" *ngIf="t?.Status === 1">
            <div>
                <ion-icon name="ellipse" style="font-size: 12px;
                margin-right: 3px;"></ion-icon>
            </div>
            <span style="font-size: 12px; font-family: 'Poppins_Regular';">Not Assigned</span>
        </div>

        <div style="display: flex; width: 80px; color: #C71F16;" *ngIf="t?.Status === 2">
            <div>
                <ion-icon name="ellipse" style="font-size: 12px;
                margin-right: 3px;"></ion-icon>
            </div>
            <span style="font-size: 12px; font-family: 'Poppins_Regular';">Rejected</span>
        </div>

        <div style="display: flex; width: 80px;" *ngIf="t?.Status === 3">
            <div>
                <ion-icon name="ellipse" style="font-size: 12px;
                margin-right: 3px;"></ion-icon>
            </div>
            <span style="font-size: 12px; font-family: 'Poppins_Regular';">Assigned</span>
        </div>

        <div style="display: flex; width: 80px; color: #0A5C49;" *ngIf="t?.Status === 5">
            <div>
                <ion-icon name="ellipse" style="font-size: 12px;
                margin-right: 3px;"></ion-icon>
            </div>
            <span style="font-size: 12px; font-family: 'Poppins_Regular';">Completed</span>
        </div>

        <div style="display: flex; width: 80px;" *ngIf="t?.Status === 6">
            <div>
                <ion-icon name="ellipse" style="font-size: 12px;
                margin-right: 3px;"></ion-icon>
            </div>
            <span style="font-size: 12px; font-family: 'Poppins_Regular';">Factoring Generated</span>
        </div>

        <div style="display: flex; width: 80px;" *ngIf="t?.Status === 7">
            <div>
                <ion-icon name="ellipse" style="font-size: 12px;
                margin-right: 3px;"></ion-icon>
            </div>
            <span style="font-size: 12px; font-family: 'Poppins_Regular';">Factoring Paid</span>
        </div>

        <div style="display: flex; width: 80px;" *ngIf="t?.Status === 8">
            <div>
                <ion-icon name="ellipse" style="font-size: 12px;
                margin-right: 3px;"></ion-icon>
            </div>
            <span style="font-size: 12px; font-family: 'Poppins_Regular';">Factoring Rejected</span>
        </div>

        <div style="display: flex; width: 80px;" *ngIf="t?.Status === 9">
            <div>
                <ion-icon name="ellipse" style="font-size: 12px;
                margin-right: 3px;"></ion-icon>
            </div>
            <span style="font-size: 12px; font-family: 'Poppins_Regular';">Tonu</span>
        </div>

        <div style="display: flex; width: 80px; color: #FF8E00;"  *ngIf="t?.Status === 10">
            <div>
                <ion-icon name="ellipse" style="font-size: 12px;
                margin-right: 3px;"></ion-icon>
            </div>
        <span style="font-size: 12px; font-family: 'Poppins_Regular';">Load Lumber Fees</span>
    </div>

    <div style="display: flex; width: 80px;"  *ngIf="t?.Status === 11">
        <div>
            <ion-icon name="ellipse" style="font-size: 12px;
            margin-right: 3px;"></ion-icon>
        </div>
    <span style="font-size: 12px; font-family: 'Poppins_Regular';">Load Detention</span>
</div>

<div style="display: flex; width: 80px;"  *ngIf="t?.Status === 12">
    <div>
        <ion-icon name="ellipse" style="font-size: 12px;
        margin-right: 3px;"></ion-icon>
    </div>
<span style="font-size: 12px; font-family: 'Poppins_Regular';">Load Cancelled</span>
</div>

<div style="display: flex; width: 80px;"  *ngIf="t?.Status === 13">
    <div>
        <ion-icon name="ellipse" style="font-size: 12px;
        margin-right: 3px;"></ion-icon>
    </div>
<span style="font-size: 12px; font-family: 'Poppins_Regular';">Load Transient</span>
</div>

<div style="display: flex; width: 80px;"  *ngIf="t?.Status === 14">
    <div>
        <ion-icon name="ellipse" style="font-size: 12px;
        margin-right: 3px;"></ion-icon>
    </div>
<span style="font-size: 12px; font-family: 'Poppins_Regular';">Load Picked Upload Document</span>
</div>

<div style="display: flex; width: 80px;"  *ngIf="t?.Status === 15">
    <div>
        <ion-icon name="ellipse" style="font-size: 12px;
        margin-right: 3px;"></ion-icon>
    </div>
<span style="font-size: 12px; font-family: 'Poppins_Regular';">Load Picked Upload Document Rejected</span>
</div>

<div style="display: flex; width: 80px;"  *ngIf="t?.Status === 16">
    <div>
        <ion-icon name="ellipse" style="font-size: 12px;
        margin-right: 3px;"></ion-icon>
    </div>
<span style="font-size: 12px; font-family: 'Poppins_Regular';">Load Picked Upload Document Approved</span>
</div>

<div style="display: flex; width: 80px;"  *ngIf="t?.Status === 17">
    <div>
        <ion-icon name="ellipse" style="font-size: 12px;
        margin-right: 3px;"></ion-icon>
    </div>
<span style="font-size: 12px; font-family: 'Poppins_Regular';">Load Delivered Upload Document</span>
</div>

<div style="display: flex; width: 80px;"  *ngIf="t?.Status === 18">
    <div>
        <ion-icon name="ellipse" style="font-size: 12px;
        margin-right: 3px;"></ion-icon>
    </div>
<span style="font-size: 12px; font-family: 'Poppins_Regular';">Load Delivered Upload Document Rejected</span>
</div>

<div style="display: flex; width: 80px;"  *ngIf="t?.Status === 19">
    <div>
        <ion-icon name="ellipse" style="font-size: 12px;
        margin-right: 3px;"></ion-icon>
    </div>
<span style="font-size: 12px; font-family: 'Poppins_Regular';">Load Delivered Upload Document Approved</span>
</div>

<div style="display: flex; width: 80px;"  *ngIf="t?.Status === 20">
    <div>
        <ion-icon name="ellipse" style="font-size: 12px;
        margin-right: 3px;"></ion-icon>
    </div>
<span style="font-size: 12px; font-family: 'Poppins_Regular';">Load Picked Location Arrived</span>
</div>

<div style="display: flex; width: 80px;"  *ngIf="t?.Status === 21">
    <div>
        <ion-icon name="ellipse" style="font-size: 12px;
        margin-right: 3px;"></ion-icon>
    </div>
<span style="font-size: 12px; font-family: 'Poppins_Regular';">Load Picked</span>
</div>

<div style="display: flex; width: 80px;"  *ngIf="t?.Status === 22">
    <div>
        <ion-icon name="ellipse" style="font-size: 12px;
        margin-right: 3px;"></ion-icon>
    </div>
<span style="font-size: 12px; font-family: 'Poppins_Regular';">Load Delivery Location Arrived</span>
</div>

<div style="display: flex; width: 80px;"  *ngIf="t?.Status === 23">
    <div>
        <ion-icon name="ellipse" style="font-size: 12px;
        margin-right: 3px;"></ion-icon>
    </div>
<span style="font-size: 12px; font-family: 'Poppins_Regular';">Load Delivered</span>
</div>


    </div>

</ion-content>
