ion-label {
    --color: #656565 !important;
    font-family: 'Poppins_Medium' !important;
    text-align: center;
}

.days-sort-popover {
    --width: 115px !important;
}

ion-popover {
    --width: 115px !important;

}