ion-input {
    font-family: 'Poppins_Regular';
    --color: #4F4F4F;
}

ion-textarea {
    font-family: 'Poppins_Regular';
    --color: #4F4F4F;
}
ion-modal {
    --width: 80%;
    --height: 60%;
    --border-radius: 10px;
    --background: transparent;
}